.totals {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  .value {
    align-self: flex-end;
  }
  .change {
    display: flex;
    flex-direction: column;
    .value,.pct {
      align-self: flex-start
    }
  }
}