@import "~/bootstrap/scss/_functions";
@import "~/bootstrap/scss/_variables";

$breakpoint-phone: 600px;

@mixin flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 0.4em;
}

#root {
  padding-top: 1rem;
}

a {
  text-decoration: none;
  color: $body-color-dark;
}

.spread-container {
  @include flex-container-row();
  justify-content: space-between;
  .stick-left {
    @include flex-container-row();
    justify-content: flex-start;
  }
  .stick-right {
    @include flex-container-row();
    justify-content: flex-end;
  }
}

@media (max-width: $breakpoint-phone) {
  .description.h6 {
    font-size: 0.75rem;
  }
}
