@import "~/bootstrap/scss/_functions";
@import "~/bootstrap/scss/_variables";

@mixin hover-effect {
  &:hover {
    background-color: darken($body-secondary-bg-dark, 5%);
  }
}

.portfolios,
.portfolio-details,
.asset-details {
  .top-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em 0 0.5em 0;
  }
  .portfolio-link,
  .asset-link {
    @include hover-effect;
  }
}
